nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand Build Your API doc quickly and beauty
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li(ng-show="user.member")
              a(href="/#")
                i.fa.fa-facebook-square
                |  {{user.member.displayName}}
            li(ng-show="user.member")
              a(href="/logout")
                i.fa.fa-sign-out
                |  Logout
            li(ng-hide="user.member")
              a(href="/auth/facebook")
                i.fa.fa-facebook-square
                |  Login
            li(ng-hide="apiId")
              a(ng-click="doSave()",href="")
                i.fa.fa-floppy-o
                |  SAVE
            li(ng-show="apiId")
              a(ng-click="doUpdate()",href="")
                i.fa.fa-floppy-o
                |  UPDATE
            li
              a(href='#') Help
          form.navbar-form.navbar-right
            input.form-control(type='text', placeholder='Search...' , ng-model="Category")
